{
    "APP_NAME": "Bow Application",
    "APP_ENV": "development",
    "APP_DEBUG": true,
    "APP_KEY": "",
    "APP_URL": "http://localhost:5000",

    "APP_ASSET_PREFIX": "/",
    "APP_URI_PREFIX": "",
    "APP_AUTO_CSRF": true,

    "APP_JWT_SECRET": "",
    "APP_JWT_ISSUER": "app.code.com",
    "APP_JWT_AUD": "app.code.com",

    "DB_DEFAULT": "pgsql",
    "DB_HOSTNAME": "localhost",
    "DB_USERNAME": "postgres",
    "DB_PASSWORD": "postgres",
    "DB_DBNAME": "allo-code-drome-database",
    "DB_CHARSET": "utf8",
    "DB_PORT": 5432,

    "SESSION_NAME": "BOW",
    "SESSION_LIFE": 648000,
    "SESSION_PATH": "/",
    "SESSION_DOMAIN": null,
    "SESSION_SECURE": false,
    "SESSION_HTTPONLY": true
}
